<!-- RODAPE -->
<footer>
  <div class="container mt-3">
    <div class="row">
      <div class="col text-start">
        <span>CNPJ: 10.864.857/0001-23</span><br>
        <span>Av. das Nações Unidas 12901 - 11º andar, Brooklin Paulista, São Paulo - SP, 04578-910</span>
      </div>
      <div class="col text-end">
        <span> Compra segura -Garantia de segurança para suas informações pessoais e financeiras</span><br>
        <span>© Todos os direitos reservados à Pet's Care</span>
      </div>
    </div>
  </div>
</footer>

